/* Centra il contenuto della pagina */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;  /* Usa il font di Google */
  }
  
  .wrapper {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  